.external-container {
    max-width: 1170px;
    margin: 5px auto;
}

.container {
    margin-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #006cfa;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    background-color: #00e165;
    text-align: center;
    border: 1px solid #006cfa;
    padding: 5px;
    color: white;
}

.black {
    background-color: black;
    border: 1px solid black;
    height: 96px;
}

.grey {
    background-color: grey;
    border: 1px solid black;
    height: 96px;
}

.green {
    background-color: greenyellow;
    border: 1px solid black;
    height: 96px;
}

.blu {
    background-color: teal;
    border: 1px solid black;
    height: 96px;
}

.orange {
    background-color: orange;
    border: 1px solid black;
    height: 96px;
}

.yellow {
    background-color: yellow;
    border: 1px solid black;
    height: 96px;
}

.pink {
    background-color: violet;
    border: 1px solid black;
    height: 96px;
}